<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @possuvideo.image %>
</p>

<p>
  <strong>Video:</strong>
  <%= @possuvideo.video %>
</p>

<p>
  <strong>Tittle:</strong>
  <%= @possuvideo.tittle %>
</p>

<p>
  <strong>Star:</strong>
  <%= @possuvideo.star %>
</p>

<p>
  <strong>Description:</strong>
  <%= @possuvideo.description %>
</p>

<%= link_to 'Edit', edit_possuvideo_path(@possuvideo) %> |
<%= link_to 'Back', possuvideos_path %>
